<div>
    <form>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ingrese Nombre" name="nombre" [(ngModel)]="persona.nombre">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ingrese Apellido" name="apellido" [(ngModel)]="persona.apellido">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Ingrese Edad" name="edad" [(ngModel)]="persona.edad">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (keyup)="intro" (click)="enviar()">Agregar Persona</button>
        </div>
    </form>
</div>